################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PhoneBook/.vs/PhoneBook/FileContentIndex
/PhoneBook/obj
/PhoneBook/.vs/PhoneBook/v17
